
<li class="broadcast" onclick="alert('Clicked Argo')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_argo.png" width="186px" height="270px">

  <p>
      Select me with DevTools
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>7.8<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Clicked Avatar')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_avatar.png" width="186px" height="270px">

  <p>
      Change me in DevTools
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>8.0<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Clicked Breaking Bad')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_breaking_bad.png" width="186px" height="270px">

  <p>
      Breaking bad
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>9.6<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Quantum of solace')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_quantum_of_solace.png" width="186px" height="270px">

  <p>
      {{defaultTitle}}
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>6.7<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Quantum of solace')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_quantum_of_solace.png" width="186px" height="270px">

  <p>
    {{defaultTitle}}
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>7.4<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Quantum of solace')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_quantum_of_solace.png" width="186px" height="270px">

  <p>
    {{defaultTitle}}
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>7.4<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Quantum of solace')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_quantum_of_solace.png" width="186px" height="270px">

  <p>
    {{defaultTitle}}
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>7.4<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Quantum of solace')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_quantum_of_solace.png" width="186px" height="270px">

  <p>
    {{defaultTitle}}
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>7.4<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Quantum of solace')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_quantum_of_solace.png" width="186px" height="270px">

  <p>
    {{defaultTitle}}
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>7.4<span>/10</span></span>
  </p>
</li>
<li class="broadcast" onclick="alert('Quantum of solace')">
  <div class="image_background"></div>
  <img src="http://pixelscommander.com/polygon/htmlgl/demo/pic/boxes/box_quantum_of_solace.png" width="186px" height="270px">

  <p>
    {{defaultTitle}}
  </p>

  <p>
      <img src="http://pixelscommander.com/polygon/htmlgl/demo/assets/img/imdb.png" width="52px" height="24px">
      <span>7.4<span>/10</span></span>
  </p>
</li>
<div class="">

</div>